.new-todo-form {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px grey;
}

.new-todo-input {
    font-size: 16px;
    border: none;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
