.todo-item-container {
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px grey;
    display: flex;
}

.todo-item-container h3{
    margin: 0;
}

.completed-item {
    flex: 1 1 5px;
}

.list-item {
    flex: 20 1 100px;
}

.completed-list-item {
    flex: 20 1 100px;
    text-decoration: line-through;
    color: gray;
}

.remove-button {
    flex: 1 1 5px;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
    border: 2px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    display: inline-block;
}